table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
}


tr.green th {
    background: rgb(79, 175, 79);
    color: white;
}
th {
    background: white;
    position: sticky;
    top: 0;
}

.field:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    transition: 0.2s;
}
.field:active {
    background-color: rgb(214, 214, 214);
}

.deleteBtn:hover {
    color: red;
    cursor: pointer;
    transition: 0.2s;
}